---
import ServiceNav from "../components/ServiceNav.jsx";
import AboutPage from "../components/AboutPage.jsx";
import Footer from "../components/Footer.jsx";
import FloatingElements from "../components/FloatingElements.jsx";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About LeadOctave | Leadership That Endures</title>
    <meta
      name="description"
      content="We design leadership systems that transform organizations from the inside out, creating sustainable cultures of excellence."
    />
    <link rel="icon" type="image/png" href="/image/leadoctave-logo.png" />
  </head>
  <body class="antialiased">
    <FloatingElements client:load />
    <ServiceNav client:load />
    <AboutPage client:load />
    <Footer client:load />
  </body>
</html>
